@import 'config';
@import 'utilities';
@import 'item_grid';
@import url('https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

// General Styles
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  line-height: 1.5;
  background: #f5f5f5; // Light background color
  color: #333; // Dark text color
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: #333;
}

ul {
  list-style: none;
}

h2,
h3,
h4 {
  text-transform: uppercase;
}

img {
  width: 100%;
}

section {
  margin: 0 100px;
}

// Logo
#logo {
  width: 110px;
  height: 110px;
  color: #333;
  text-transform: uppercase;
}

.nav-shadow {
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.1);
}

// Main Nav
#main-nav {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  width: 100%;
  z-index: 1000;

  ul {
    display: flex;
  }

  li {
    padding: 1rem 1.5rem;
  }

  a {
    text-decoration: none;
    color: #ffffff !important;
    text-transform: uppercase;
    border-bottom: 2px transparent solid;
    padding-bottom: 0.5rem;
    transition: border-color 0.3s;

    &:hover {
      border-color: #e29b29;
    }

    &.current {
      border-color: #e29b29;
    }
  }
}

// Header
#header {
  // Header Home
  &-home {
    background: url(/dist/img/myshowcase.jpg) no-repeat left center / cover;
    height: 80vh;
    color: #fff;
    position: relative;

    // Header Content
    .header-content {
      text-align: left;
      padding-top: 35%;
      font-family: "Lato", sans-serif;

      h1 {
        font-size: 5.5rem;
        line-height: 1;
        font-family: 'Bebas Neue', sans-serif;
        font-weight: 900;
        color: #fff; // Light blue color
      }

      p {
        font-family: 'Bebas Neue', sans-serif;
        font-size: 1.2rem;
        color: #fff;
      }
    }

    .btn-main {
      background-color: #f29040;
      border: none;
      padding: 0.8rem 2rem;
      color: #fff;
      font-size: 1rem;
      text-transform: uppercase;
      cursor: pointer;
      transition: background-color 0.3s;

      &:hover {
        background-color: #744c2b; // Darker blue on hover
      }
    }
  }

  &-home::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8); // Lighter overlay
  }

  &-home * {
    z-index: 10;
  }

  // Header Inner
  &-inner {
    background: url('path/to/your/image.jpg') no-repeat 10% 20% / cover;
    height: 6rem;
  }
}

// Home Sections
#home {
  // Home Section A
  &-a {
    padding-bottom: 0;

    .section-title {
      font-weight: 900;
      font-family: 'Bebas Neue', sans-serif;
      font-size: 2rem;
      color: #333;
    }
  }

  // Home Section B
  &-b {
    .stats {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      color: #333;

      li {
        line-height: 2;

        &.stats-title {
          font-size: 1.3rem;
          font-weight: 700;
        }

        &.stats-number {
          font-size: 1rem;
          font-weight: bold;
        }
      }

      div {
        padding: 3rem 0;
        color: #333;
        border-left: 1px solid #ddd;
      }
    }
  }

  // Home Section C
  &-c {
    padding-top: 3rem;
    
    .section-title {
      font-weight: 900;
      font-family: 'Bebas Neue', sans-serif;
      font-size: 2rem;
      color: #333;
    }

    .process {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 1.5rem;
      text-align: center;

      &-div {
        position: relative;
        overflow-x: hidden;
        transition: all 0.4s ease-in-out;
        visibility: hidden;
        opacity: 0;
        transform: translate(1200px, 0);
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      &-div.show {
        transform: none;
        visibility: visible;
        opacity: 1;
      }

      // process-step
      &-step {
        position: absolute;
        top: 0;
        right: 0;
        font-size: 25px;
        background: $main-color;
        color: set-text-color($main-color);
        border-radius: 50%;
        height: 25px;
        width: 25px;
        line-height: 15px;
        padding: 1.3rem;
        transition: all 0.1s;
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
      }

      // process-icon
      &-icon {
        border-radius: 50%;
        background: $light-color;
        color: set-text-color($light-color);
        padding: 6rem;
        width: 100px;
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        position: relative;
        transition: all 0.1s;

        &:hover {
          background: $medium-color;
          transform: scale(1.08);

          .process-step {
            background: $dark-color;
            color: set-text-color($dark-color);
          }
        }
      }
    }
  }
}

// About Sections
#about {
  // About A
  &-a {
    margin-bottom: 10px;
    padding-bottom: 0;

    .about-info {
      display: grid;
      grid-template-areas: 'bioimage bio bio';
      grid-gap: 1.2rem;
    }

    .section-title {
      font-weight: 900;
      text-transform: uppercase;
    }

    .bottom-line {
      margin: 0 auto 1rem auto;
    }

    // Grid Area
    .bio-image {
      grid-area: bioimage;
      height: 350px;
      width: 350px;
      object-fit: cover;
      border-radius: 10px;
      margin-top: 5px;
      margin-bottom: 10px;
      transition: all 0.2s ease-in-out;
    }

    .bio-image:hover {
      transform: scale(1.05);
    }

    .bio {
      grid-area: bio;
      padding: 75px;
    }

    .award-1 {
      grid-area: aw1;
    }

    .award-2 {
      grid-area: aw2;
    }

    .award-3 {
      grid-area: aw3;
    }

    .award-1 .fas,
    .award-2 .fas,
    .award-3 .fas {
      color: #3498db;
      margin: 1rem;
    }
  }

  // About B
  &-b {
    .progress {
      overflow: hidden;
      height: 70px;
      background: #fff;
      border-radius: 10px;
      margin-bottom: 0.1rem;

      div {
        height: 100%;
        color: #fff;
        text-align: center;
        background: #3498db;
      }
    }
  }

  // About C
  &-c {
    color: #fff;
    background: #333;
    border-bottom: 1px solid rgba(169, 169, 169, 0.3);
    margin-top: 0;

    .container {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 0.1rem;
      text-align: center;

      .bx {
        background: #333;
        font-size: 5rem;
        transition: all 0.2s ease;
        padding: 1rem;

        &:hover {
          transform: scale(1.5);
        }
      }
    }

    .logo-area {
      background: #333;
    }
  }

  // About D
  &-d {
    .specials {
      margin-top: 2.5rem;
      margin-bottom: 2rem;
      display: grid;
      grid-gap: 1.2rem;
      grid-template-columns: repeat(4, 1fr);
      text-align: center;

      div {
        font-size: 12px;
      }

      .fas {
        color: #3498db;
        padding-bottom: 1rem;
        font-size: 3rem;
      }

      .bx {
        color: #3498db;
        padding-bottom: 1rem;
        font-size: 3rem;
      }
    }

    .section-title {
      font-weight: 600;
      text-transform: none;
    }

    .bottom-line {
      width: 43rem;
    }
  }
}

// Contact Page
#contact {
  &-c {
    h1 {
      text-align: center;
      font-size: 2.5rem;
      color: #2c3e50;
      margin-bottom: 2rem;
      font-family: 'Dosis', sans-serif;
      text-transform: uppercase;
    }
  }

  &-a {
    h2 {
    font-family: "Staatliches", cursive;
    font-size: 3rem;
    }

    .text-fields {
      display: grid;
      grid-template-areas: 
        'name email' 
        'subject phone' 
        'message message';
      grid-gap: 2rem;
      margin-bottom: 2rem;
      padding: 1rem;
      background: #ecf0f1;
      border-radius: 10px;
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);

      .name-input, .email-input, .subject-input, .phone-input, .message-input {
        padding: 1rem;
        border: 1px solid #bdc3c7;
        border-radius: 5px;
        font-size: 1rem;
        background-color: #fff;
        box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
        transition: all 0.3s ease-in-out;

        &:focus {
          border-color: #3498db;
          outline: none;
          box-shadow: 0 0 5px rgba(52, 152, 219, 0.5);
        }
      }

      .message-input {
        height: 200px;
        resize: none;
        width: 100%;
      }
    }

    button[type='submit'] {
      width: 80%;
      background-color: $main-color;
      border: none;
      padding: 1rem;
      color: #fff;
      font-size: 1.2rem;
      text-transform: uppercase;
      cursor: pointer;
      transition: background-color 0.3s, transform 0.3s;
      border-radius: 5px;
      box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);

      &:hover {
        background-color: $medium-color;
        transform: translateY(-3px);
      }
    }
  }

  &-b {
    .contact-info {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      text-align: center;
      gap: 2rem;
      margin-top: 2rem;
      padding: 1rem;
      background: #ecf0f1;
      border-radius: 10px;
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);

      .info-box {
        padding: 1.5rem;
        background-color: #fff;
        border-radius: 5px;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s, box-shadow 0.3s;

        &:hover {
          transform: translateY(-5px);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
        }

        h3 {
          font-size: 1.5rem;
          color: #2c3e50;
          margin-bottom: 0.5rem;
        }

        p {
          font-size: 1rem;
          color: #7f8c8d;
        }
      }
    }
  }
}

// Footer
#main-footer {
  background: #333;
  color: #fff;
  height: 3rem;
  border-top: 1px solid #ddd;

  .footer-content {
    display: flex;
    justify-content: space-between;
    height: 3rem;
    padding: 1rem;
    align-items: center;
  }
}

// Services

#header-services {
  .header-content{
    h1 {
      margin-bottom: 0rem;
    }
  }

  .bottom-line {
    width: 16rem;
    height: 3px;
    background-color: $main-color;
    margin-bottom: 0rem;  
  }
}

#services {
  padding-top: 0rem;
  .container {
    .services-list,
    .service-areas-list {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      gap: 1rem;
      margin-bottom: 1rem;
    
      .service,
      .service-area {
        background-color: var(--light-color);
        padding: 1.5rem;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s ease-in-out;
    
        &:hover {
          transform: translateY(-5px);
        }
    
        h3 {
          font-size: 1.5rem;
          margin-bottom: 1rem;
        }
    
        p {
          line-height: 1.6;
          margin-bottom: 0.5rem;
        }
      }
    }
  }
}

// Pricing
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  line-height: 1.6;
  background-color: #dedede;
  color: #333;
}

.container {
  max-width: 1100px;
  margin: auto;
  padding: 0 2rem;
  overflow: hidden;
}

/* Header Styles */
#header-pricing {
  background-color: #dedede;
}

#pricing {
  border-radius: 10px;
  .section-title {
    font-family: "Staatliches", cursive;
    font-size: 50px;
    margin-bottom: 0rem;
  }

  .bottom-line {
    width: 15rem;
    height: 3px;
    background-color: $main-color;
    margin: 0 auto 1rem auto;  
  }
}

#main-nav {
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;

  ul {
    display: flex;
  }

  li {
    padding: 1rem 1.5rem;
  }

  a {
    text-decoration: none;
    color: #333;
    text-transform: uppercase;
    border-bottom: 2px transparent solid;
    padding-bottom: 0.5rem;
    transition: border-color 0.3s;

    &:hover {
      border-color: #e29b29;
    }

    &.current {
      border-color: #e29b29;
    }
  }
}

.header-content {
  text-align: center;
  margin-top: 2rem;

  h1 {
    font-family: 'Staatliches', cursive;
    font-size: 3rem;
    margin-bottom: 1rem;
  }

  p {
    font-size: 1.2rem;
  }
}

/* Pricing Section Styles */
#pricing {
  background-color: #fff;
  padding: 2rem 0;

  .fee-statement {
    font-size: 20px;
  }
}

.section-title {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.bottom-line {
  width: 60px;
  height: 3px;
  background-color: var(--primary-color);
  margin: 0 auto 1rem auto;
}

.lead {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.pricing-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
  margin: 1rem;
}

.card {
  background-color: var(--light-color);
  padding: 1.5rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;

  &:hover {
    transform: translateY(-5px);
  }

  h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }

  p {
    line-height: 1.6;
    margin-bottom: 0.5rem;
  }
}

/* Level of Service Section Styles */
.level-of-service {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  margin: 2rem 0;
  padding: 1.5rem;
  background-color: var(--light-color);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  h3, p, ol {
    display: block; /* Change display to block */
  }

  h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }

  p {
    line-height: 1.6;
    margin-bottom: 1rem;
  }

  ol {
    margin-left: 1rem;
    list-style-position: inside;

    li {
      margin-bottom: 0.5rem;
      line-height: 1.6;
    }
  }
}

/* Footer Styles */
#main-footer {
  background-color: #dedede;
  color: #333;
  padding: 2rem 0;
  text-align: center;

  .footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
      width: 150px;
      margin-bottom: 1rem;
    }
  }

  .social {
    margin-bottom: 1rem;
  }
}

@import 'media';
